<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Responsive Navbar with Search Box | CodingNepal</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='nav_style.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
         <div class="menu-icon">
            <span class="fas fa-bars"></span>
         </div>
         <div class="logo">
            EchoEphemeris
         </div>
         <div class="nav-items">
            <li><a href="/">Home</a></li>
            <li><a href="/util_exch">Exch Utility</a></li>
            <li><a href="/basic_analysis_n">Charts</a></li>
            <li><a href="/help">Help</a></li>
            </div>
         
      </nav>
     
      
   </body>
</html>