<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='util_ex_st.css') }}">
    <style>
        #message, p {color: white;}
    </style>
</head>
<body>
    {% include 'navbar.html' %}
	<div class="contents">
        <h1>Exchange Utilities</h1>
        <div class="box flex-box">
            <div class="update_business_days">
                {% if last_business_date %}
                    <p>Last business Date- {{ last_business_date }}</p>
                {% endif %}
                <form method="POST" action="/util_exch">
                    <textarea id="date_input" name="dates" rows="4" cols="40" placeholder="Enter New Dates (DD-MM-YYYY)..."></textarea>
                    <button type="submit" name="update_dates">Update Dates</button></form>
            </div>
            <div class="download_box">
                <h5>Select Dates for Data Download </h5>
                <form method="POST" action="/util_exch" onsubmit="return validateDateRange()">
                    <div><label for="start_date">Start Date:</label>
                        <input type="date" id="start_date" name="start_date" required></div>
                    <div><label for="end_date">End Date:</label>
                        <input type="date" id="end_date" name="end_date" required></div>
                    <div><button type="submit" name="range">Submit Date Range</button></div>
                </form><p id="message"></p><script src="{{ url_for('static', filename='scripts/dtval.js') }}"></script></div>
            <div class="update_database">
                <h5>Select Dates for Database Update</h5>
                <form method="POST" action="/util_exch">
                    <div><label for="update_start_date">Start Date:</label>
                        <input type="date" id="update_start_date" name="update_start_date" required></div>
                    <div><label for="update_end_date">End Date:</label>
                        <input type="date" id="update_end_date" name="update_end_date" required></div>
                    <div><button type="submit" name="update_range">Submit Database Update</button></div></form></div></div>
        <div class="download_box">
            <p> Do Not Download more than 15 Days of data from Exchange</p>
            <p> Dates for Middle Tab must be within 15 Days of a month</p>
            <p> Exchange may Block your IP, if it over accessed to download data</p></div>
    <script>
        const today = new Date().toISOString().split("T")[0];
        document.getElementById("start_date").value = today;document.getElementById("end_date").value = today;
        document.getElementById("update_start_date").value = today;document.getElementById("update_end_date").value = today;
        </script>
</body>
</html>
	

